@import url("https://fonts.googleapis.com/css?family=Amiri|Cantata+One|Gruppo|Maitree|Rokkitt");
@import url("https://fonts.googleapis.com/css?family=Caveat");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*add reset button style */
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  /*font-family: 'Amiri', serif;*/
  /*font-family: 'Cantata One', serif;*/
  /*font-family: 'Gruppo', cursive;*/
  font-family: 'Maitree', serif;
  /*font-family: 'Rokkitt', serif;*/ }

a {
  text-decoration: none;
  color: inherit; }

.container_headers {
  width: 85%;
  margin: auto; }

.container_text {
  width: 75%;
  margin: auto; }

h1 {
  font-size: 90px;
  font-family: 'Caveat', cursive; }

h3 {
  font-weight: bold;
  font-size: 40px; }

h4 {
  font-weight: bold;
  font-size: 25px; }

p {
  font-size: 17px;
  line-height: 24px;
  margin: 20px 0; }

.header {
  width: 100%;
  /*height: 140px;*/
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: .7s all;
  -o-transition: .7s all;
  transition: .7s all;
  z-index: 99; }
  .header a:hover {
    color: rgba(102, 119, 136, 0.74); }

.header, ul {
  -webkit-transition: .7s all;
  -o-transition: .7s all;
  transition: .7s all; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-transform: uppercase;
  color: #678;
  -ms-flex-item-align: center;
      align-self: center; }

.large {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .large h2 {
    font-size: 60px;
    font-weight: bold; }
  .large .menu {
    font-size: 20px;
    margin-top: 20px; }
    .large .menu li {
      padding: 0 10px; }

.small {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .small h2 {
    font-size: 30px;
    font-weight: bold; }
  .small .menu {
    font-size: 20px;
    margin-top: 0; }
    .small .menu li {
      padding: 0 10px; }

.hero {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#473b7b), color-stop(#3e4a88), color-stop(#355893), color-stop(#2e669b), color-stop(#2c73a1), color-stop(#227fa9), color-stop(#1a8cb0), color-stop(#1a98b5), color-stop(#00a7bc), color-stop(#00b6c0), color-stop(#02c4c0), to(#30d2be));
  background-image: -o-linear-gradient(bottom, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);
  background-image: linear-gradient(to top, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);
  /*background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);*/
  /*background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);*/
  /*background-image: linear-gradient(to top, #13547a, #1e7292, #3891a6, #59b1b7, #80d0c7);*/
  /*background-image: linear-gradient(to top, #09203f, #1b3454, #2d4a69, #3f607f, #537895);*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero h1 {
    color: white; }

.hero_smaller {
  position: relative;
  left: 70px;
  margin-bottom: 30px;
  font-size: 80px; }

.hero_bigger {
  font-size: 160px;
  position: relative;
  top: 140px;
  left: -150px; }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.person_img {
  height: 70vh;
  margin-right: 80px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.person_secrip {
  margin: auto; }

.break {
  height: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#473b7b), color-stop(#3e4a88), color-stop(#355893), color-stop(#2e669b), color-stop(#2c73a1), color-stop(#227fa9), color-stop(#1a8cb0), color-stop(#1a98b5), color-stop(#00a7bc), color-stop(#00b6c0), color-stop(#02c4c0), to(#30d2be));
  background-image: -o-linear-gradient(bottom, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);
  background-image: linear-gradient(to top, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be); }

.break_text {
  font-family: 'Amiri', serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 23px;
  padding: 20px 0; }
  .break_text q {
    padding: 40px 0; }

.offer {
  padding: 60px 0; }

.contact {
  height: 300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#473b7b), color-stop(#3e4a88), color-stop(#355893), color-stop(#2e669b), color-stop(#2c73a1), color-stop(#227fa9), color-stop(#1a8cb0), color-stop(#1a98b5), color-stop(#00a7bc), color-stop(#00b6c0), color-stop(#02c4c0), to(#30d2be));
  background-image: -o-linear-gradient(bottom, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);
  background-image: linear-gradient(to top, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be); }
