.break {
    background-image: $gradient;
}

.break_text {
    font-family: 'Amiri', serif;
    color:white;
    display: flex;
    flex-direction: column;
    font-size:27px;
    font-family: 'Caveat', cursive;
    padding: 40px 0;
    
    q {
        padding: 20px 0;
    }
    
    p {
        margin:0;
        padding:0;
        line-height: normal;
        font-size:27px;

    }
}