.hero {
    height: 100vh;
    background-color: 	#F3F4F8;
    /*background-image: $gradient;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
    h1 {
        color:#fad437;
        color:#313131;
        /*text-shadow: $headersShadow;*/
        text-align: center;
    }
    
    h2 {
        color:#717171;
        font-size: 28px;
        padding-top: 30px;
        text-align: center;
    }
}

.hero_text {
    margin-left: 10%;
}

.hero_smaller {
    position: relative;
    left: 70px;
    margin-bottom: 30px;
    font-size:80px;
}

.hero_bigger {
    font-size: 160px;
    position: relative;
    top:140px;
    left:-150px;
}

