.hero {
    height: 100vh;
    background-image: linear-gradient(to top, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);
    /*background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);*/
    /*background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);*/
    /*background-image: linear-gradient(to top, #13547a, #1e7292, #3891a6, #59b1b7, #80d0c7);*/
    /*background-image: linear-gradient(to top, #09203f, #1b3454, #2d4a69, #3f607f, #537895);*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    h1 {
        color:white;
    }
}
.hero_smaller {
    position: relative;
    left: 70px;
    margin-bottom: 30px;
    font-size:80px;
}

.hero_bigger {
    font-size: 160px;
    position: relative;
    top:140px;
    left:-150px;
}

