h1 {
    font-size:140px;
    font-family: 'Caveat', cursive;
    /*text-shadow: $headersShadow;*/
}

h3 {
    font-weight: bold;
    font-size: 40px;
}

h4 {
    font-weight: bold;
    font-size: 27px; 
    text-transform: uppercase;
}

p {
    font-size:16px;
    line-height: 26px;
    margin: 25px 0;
}

.bold {
    font-size:17px;
}