$gradient: linear-gradient(to top, #473b7b, #3e4a88, #355893, #2e669b, #2c73a1, #227fa9, #1a8cb0, #1a98b5, #00a7bc, #00b6c0, #02c4c0, #30d2be);

/*$gradient:linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);*/

$headersShadow:  -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.7);

$textShadow:  -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.1);